@using UniversityManagementSystem.Models

@{
    Layout = null;
    List<Department> departments = ViewBag.departments;
    List<Teacher> teachers = ViewBag.departments;
    List<Course> courses = ViewBag.semesters;
    string msg = ViewBag.message;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CourseAssignTeacher</title>
    <style>
        label.error {
            color: red;
        }
    </style>
</head>
<body>
    <center>
        <h1>5. Course Assign To Teacher</h1>
        <h3>
            <a href="/Home/Index">Go To Home Page</a>
        </h3><hr/><br/>
        <form id="assignTeacher" method="POST">
            <table border="1">
                <tr>
                    <th>Department</th>
                    <td>
                        <select name="DepartmentId" id="DepartmentId">
                            <option value="">Select----</option>
                            @foreach (var departmentlist in departments)
                            {
                                <option value="@departmentlist.Id">@departmentlist.Name</option>
                            }
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>Teacher</th>
                    <td>
                        <select name="Id" id="Id">
                            <option value="">Select----</option>
                            @foreach (var teacherlist in teachers)
                            {
                                <option value="@teacherlist.Id">@teacherlist.Name</option>
                            }
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>Credit To Be Taken</th>
                    <td><label id="CreditToBeTaken" name="CreditToBeTaken"></label></td>
                </tr>
                <tr>
                    <th>Remaining Credit</th>
                    <td><label id="RemainingCredit" name="RemainingCredit"></label></td>
                </tr>
                <tr>
                    <th>Course Code</th>
                    <td>
                        <select name="Code" id="Code">
                            <option value="">Select----</option>
                            @foreach (var courselist in courses)
                            {
                                <option value="@courselist.Code">@courselist.Name</option>
                            }
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>Name</th>
                    <td><label id="Name" name="Name"></label></td>
                </tr>
                <tr>
                    <th>Credit</th>
                    <td><label id="Credit" name="Credit"></label></td>
                </tr>
                <tr>
                    <th></th>
                    <td><input type="submit" value="Assign"/></td>
                </tr>
            </table>
            @msg
        </form>
    </center>
</body>
</html>
